.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(225, 214, 214, 0.4);
  padding: 4rem;
}

.header__text {
  color: #121a26;
  font-size: 2.4rem;
  font-weight: 600;
  margin-left: 1rem;
}
