{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
   "plugins": ["prettier-plugin-tailwindcss"],
     "tailwindAttributes": ["class", "className"],
  "tailwindFunctions": ["clsx", "cn"]
}