@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --default: 222 47% 11%;
    --default-foreground: 0 0% 100%;

    --primary: 25 95% 53%;

    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84% 60%;
    --destructive-hover: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --subtle: 210 40% 96%;
    --subtle-hover: 214 32% 91%;
    --subtle-foreground: 222 47% 11%;

    --loading: 222 47% 11%;
    --loading-hover: 215 25% 27%;
    --loading-foreground: 0 0% 100%;

    --outline: 0 0% 100%;
    --outline-hover: 210 40% 96%;
    --outline-foreground: 222 47% 11%;

    --link: 222 47% 11%;

    --error: 0 72% 51%;
    --error-50: 0 85% 95%;
    --error-700: 0 90% 34%;
    --success: 102 51% 52%;
    --success-50: 128 50% 94%;
    --success-700: 126 84% 26%;
    --warning: 45 93% 47%;
    --warning-50: 25% 100% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --stroke-colors-stroke: 213 27% 84%;

    --neutralColor-dark-1: 0 0% 32%;
    --neutralColor-dark-2: 0 0% 4%;
    --description-text: 215 16% 47%;
    --breadcrumb-page: 0 0% 42%;
    --breadcrumb-foreground: 0 0% 13%;
    --desaturated-blue: 212.73 26.83% 83.92%;
    --grey50: 0 0% 85.1%;

    --toast-bg: 128, 50%, 94%;
    --toast-border: 126, 50%, 58%;

    --default-badge-bg: 222, 47%, 11%, 0.1;
    --primary-badge-bg: 25, 95%, 53%, 0.1;
    --success-badge-bg: 102, 51%, 52%, 0.1;
    --error-badge-bg: 0, 72%, 51%, 0.1;

    --blog-related-article-bg: 0°, 0%, 98%;
    --blog-related-article-heading: 0°, 0%, 32%;
    --blog-related-article-timeread-bg: 220°, 14%, 96%;
  }
}

#nprogress .bar {
  background: linear-gradient(90deg, #fff0bf, #f85318) !important;
  box-shadow: 10px 0px 20px rgba(255, 240, 191, 0.641) !important;
  position: fixed;
  z-index: 99999999 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px !important;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[data-placeholder="true"] {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.129) 50%,
    rgba(7, 7, 7, 0) 100%
  );
  background-size: cover;
  transform: translateX(-120%);

  animation: shimmer 1s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-120%);
  }
  50% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(100%);
  }
}
.spinner_V8m1 {
  transform-origin: center;
  animation: spinner_zKoa 2s linear infinite;
}
.spinner_V8m1 circle {
  stroke-linecap: round;
  animation: spinner_YpZS 1.5s ease-in-out infinite;
}
@keyframes spinner_zKoa {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner_YpZS {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}

.show_scrollbar::-webkit-scrollbar {
  height: 8px;
}
.show_scrollbar ::-webkit-scrollbar-thumb {
  border-radius: 12px;
}
.hide_scrollbar::-webkit-scrollbar {
  height: 0.1px;
  width: 0.1px;
}
/* Custom Scrollbar Styling */
/* For Webkit Browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::selection {
  @apply bg-primary;
  color: white;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 0%, 0.06); /* Color of the track */
  border-radius: 10px; /* Rounded corners of the track */
}

/* For Firefox */
.html {
  @apply bg-primary;
  scrollbar-width: thin; /* Options are 'auto', 'thin', 'none' */
}

/* For Internet Explorer and Legacy Edge */
body {
  -ms-overflow-style: scrollbar; /* Standard scrollbar */
}
