@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;


    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84% 60%;
    --destructive-hover: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;


    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[data-placeholder="true"] {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.129) 50%,
    rgba(7, 7, 7, 0) 100%
  );
  background-size: cover;
  transform: translateX(-120%);

  animation: shimmer 1s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-120%);
  }
  50% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(100%);
  }
}
.spinner_V8m1 {
  transform-origin: center;
  animation: spinner_zKoa 2s linear infinite;
}
.spinner_V8m1 circle {
  stroke-linecap: round;
  animation: spinner_YpZS 1.5s ease-in-out infinite;
}
@keyframes spinner_zKoa {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner_YpZS {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
.show_scrollbar::-webkit-scrollbar {
  height: 8px;
}
.hide_scrollbar::-webkit-scrollbar {
  height: 0.1px;
  width: 0.1px;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
}
