/* Air */

#menu-button span {
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: #111111;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    background-color 0.5s ease-in-out;
  transform-origin: center;
}

[data-menu-open="true"] span:nth-child(1) {
  transform: translate3d(0, 8px, 0) rotate(40deg);
  background: #fff;
}

[data-menu-open="true"] span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

[data-menu-open="true"] span:nth-child(3) {
  transform: translate3d(0, -6px, 0) rotate(-45deg);
  background: #fff;
}
[data-menu-ul] {
  box-shadow: 0px 0px 5px rgba(255, 240, 191, 0.641);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 0px;
  height: 0px;
  border-radius: 8px;

  opacity: 0;
}

[data-menu-ul] li {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}
