name: Coverage Report

on:
  pull_request:
  workflow_run:
    workflows: ["Build, Lint and Test"]
    types:
      - completed

jobs:
  coverage_report:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write 

    steps:
      - uses: actions/checkout@v4

      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
          name: coverage-report
          path: coverage

      - name: "Coverage Report"
        uses: davelosert/vitest-coverage-report-action@v2
