name: Coverage Report

on:
  workflow_run:
    workflows: ["Build, Lint, and Test"]
    types:
      - completed

jobs:
  coverage_report:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write 

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
      - name: "Coverage Report"
        if: always()
        uses: davelosert/vitest-coverage-report-action@v2
